RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

php_value upload_max_filesize   1000M
php_value max_execution_time	  600
php_value max_input_time          600
php_value post_max_size         1000M
